<h3> This is a backjack app for <a href="www.gotealeaf.com">Tealeaf's introduction to 
 Ruby and Web Development course </a></h3>


<a href="https://github.com/jleewebdev"><p><em>Made by Josh</em></p></a>